mutagen==1.47.0

langchain==0.3.27
langchain-core==0.3.79
langchain-chroma==0.2.6
langchain-ollama==0.3.9
langchain-openai==0.3.27
langchain-community==0.3.27

langgraph==1.0.0

chromadb==1.2.0

fastapi==0.135.1
uvicorn==0.38.0

streamlit==1.45.1

python-dotenv==1.1.0
pydantic==2.10.3
